* {
  box-sizing: border-box;
}

body {
  background-image: url("images/bg_1.jpg");
  background-repeat: no-repeat;
  background-position: 85px 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #515076;
}

.image-in-cards {
  width: 290px;
  height: 245px;
  margin-bottom: 20px;
}

.skin-type {
  color: #A5A3B9;
  text-transform: uppercase;
  line-height: 24px;
}

.title {
  font-size: 70px;
  font-weight: 400;
  line-height: 78pxx;
  margin: 0;
  margin-top: 220px;
  text-align: center;
}

.products-list {
  list-style: none;
  margin: 0 auto;
  width: 1110px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
  margin-top: 110px;
  margin-left: 85px;
  margin-right: 85px;

}

.card {
  width: 340px;
  background: #F7F7FA;
  margin-bottom: 0px;
  padding: 25px;
}

.structure li {
  margin-bottom: 5px;
}

.structure {
  padding: 12px;
  margin: 0;
}

.product-price {
  margin-top: 25px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
