* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #515076;
}

.container { 
  padding-top: 220px;
  max-width: 1110px;
  margin: 0 auto;
  background-image: url("images/bg_1.jpg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.card__image {
  width: 290px;
  height: 245px;
  margin-bottom: 30px;
}

.card__skin-type {
  color: #A5A3B9;
  text-transform: uppercase;
  line-height: 24px;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 5px;
}

.title {
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  margin: 0;
  padding-bottom: 110px;
  text-align: center;
}

.products-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
}

.card {
  width: 340px;
  background: #F7F7FA;
  margin-bottom: 0px;
  padding: 25px;
}

.card__structure li {
  margin-bottom: 5px;
}

.card__structure {
  padding-left: 12px;
  margin-bottom: 25px;
  margin-top: 5px;
}

.card__product-price {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.card__structure-text {
  margin-bottom: 0px;
}

.card__product-description {
  margin-bottom: 15px;
  margin-top: 0px;
}

.card__product-name {
  font-size: 20px;
  line-height: 27px;
  margin-top: 0;
  margin-bottom: 5px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.buttons button{
  font-size: 20px;
  margin: 30px;
  padding: 10;
  border-radius: 5px;
}

#add-to-basket {
  font-size: 20px;
  margin: 30px;
  padding: 10;
  border-radius: 5px;
}

.background-button-in-basket {
  background-color: #00c451;
}